
<h2>
    Por capital
</h2>
<hr>
<div class="row">
    <div class="col">
        <!--Search booxx busquedas-->
        <shared-search-box [placeholder]="tituloPlaceholder" 
         (onDebuence)="onsearchBox($event)"
         [initialValueSearch]="initialValue"
         ></shared-search-box>
    </div>
</div>
<div class="row">
    <div class="col">
        <shared-loading-spinner *ngIf="isLoading" ></shared-loading-spinner>
         <countries-tablepais [countries]="countries" ></countries-tablepais>

    </div>
</div>